/* Bootstrap Overrides */
label {
    font-weight: 300 !important;
    font-style: italic !important;
}
.h2, h2 {
    font-size: 1.3em !important;
    margin-bottom: 40px !important;
    color: #777 !important;
}
.btn-default {
    color: #FFF !important;
    background-color: #003367 !important;
    padding: 10px 20px !important;
}
.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
body {
     background-color: rgba(241, 241, 241, 0) !important;
}
/* TSP Styles */
#tsp_wrapper {
    background: #32373C;
    margin: 15px;
}
#tsp_content{
    position: relative;
}
#tsp_header {
	height: 130px;
    padding: 15px 15px;
	background: #003367;
    background: -moz-linear-gradient(top, #000 0%, #003367 100%);
    background: -webkit-linear-gradient(top, #000 0%,#003367 100%);
    background: linear-gradient(to bottom, #000 0%,#003367 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#003367',GradientType=0 );
}
#tsp_header #tsp_logo {
	background: url("../images/tsp_icon_long.png") no-repeat scroll left top transparent;
    height: 100px;
}
#tsp_header #tsp_links {
    height: 100px;
    color: #FFF;
    text-align: right;
    font-weight: 200;
}
#tsp_header #tsp_links a{
	color: #FFF;
}
#tsp_tabs_list {
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
	background: #32373C;
    background: -moz-linear-gradient(top, #003367 0%,#32373C 50%);
    background: -webkit-linear-gradient(top, #003367 0%,#32373C 50%);
    background: linear-gradient(to bottom, #003367 0%,#32373C 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003367', endColorstr='#32373C',GradientType=0 );
}
#tsp_tabs_content {
    padding-left: 250px;
}
#tsp_tabs_inner {
    background: #fafafa;
    overflow: hidden;
    min-height: 400px;
}
#tsp_tabs_controller{
    width: 100%;
    min-height: 800px;
    position: relative;
}
#tsp_tabs_controller fieldset{
	margin-top: 20px;
}
#tsp_tabs_controller .error,
#tsp_tabs_controller .notice{
	margin: 5px 0px 2px !important;
}
#tsp_bar_button{
	text-align: right;
}
/* jQuery UI Style Overrides */
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: .5em 2em;
}
.ui-tabs-vertical .ui-tabs-panel {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.16);
    background: #FFF;
    margin: 20px;
    padding: 20px 40px !important;
}
.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 0 !important;
    margin: 0px 0px 5px 0px !important;
    padding: 0px !important;
    height: 30px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin: 2px 0px;
    padding: 5px 0px;
}
.ui-tabs-vertical {
    width: 100%;
    background-color: #2a3541;
}
.ui-tabs-vertical .ui-tabs-nav {
    padding: 0px;
    float: left;
    width: 100%;
    margin-top: 20px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px;
}
.ui-widget-content {
    border: none;
    background: none;
    color: #222;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #aaa;
    text-decoration: none;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: #B70004;
    text-decoration: none;
    background: #FFF;
}
.ui-tabs-vertical {
    width: 100%;
}
.ui-tabs {
    padding: 0px;
}
.ui-widget-header {
    border: none;
    background: none;
    color: #FAFAFA;
    font-weight: bold;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    background: none;
    font-weight: normal;
    color: #FAFAFA;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    color: #FFF;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 0px;
}
.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 7px 0 !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    text-indent: 20px;
}
.ui-tabs-vertical .ui-tabs-nav li a i.fa {
	padding-right: 10px;
    margin-left: -20px;
}